<div class="row">
  <table class="table table-striped">
    <tr>
      <th>Part</th>
      <th>Date</th>
      <th>Lesson</th>
      <th>Topics</th>
    </tr>
    <tr>             
      <td>-</td>
      <td>Before</td>
      <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <th>Oct 22</th>
      <th><a href="https://swcarpentry.github.io/r-novice-gapminder/" target="_blank">R for Reproducible Scientific Analysis (1)</a></th>
      <th>
        <ul>
          <li>Introduction to R and RStudio</li>
          <li>Project management with RStudio</li>
          <li>Seeking help</li>
          <li>Data structures</li>
          <li>Exploring data frames</li>
          <li>Subsetting data</li>
          <li>Control flow</li>
          <li>Vectorization</li>
          <li>Functions explained</li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>2</th>
      <th>Oct 29</th>
      <th><a href="https://swcarpentry.github.io/r-novice-gapminder/" target="_blank">R for Reproducible Scientific Analysis (2)</a></th>
      <th>
        <ul>
          <li>Creating publication-quality graphics with <i>ggplot2</i></li>
          <li>Data frame manipulation with <i>dplyr</i></li>
          <li>Data frame manipulation with <i>tidyr</i></li>
          <li>Writing data</li>
          <li>Producing reports with <i>knitr</i></li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>3</th>
      <th>Nov 5</th>
      <th><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></th>
      <th>
        <ul>
          <li>Introducing the shell</li>
          <li>Navigating files and directories</li>
          <li>Working with files and directories</li>
          <li>Pipes and filters</li>
          <li>Loops</li>
          <li>Shell scripts</li>
          <li>Finding things</li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>4</th>
      <th>Nov 12</th>
      <th><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></th>
      <th>
        <ul>
          <li>Setting up Git</li>
          <li>Creating a repository</li>
          <li>Tracking changes</li>
          <li>Exploring history</li>
          <li>Ignoring things</li>
          <li>Remotes in GitHub</li>
          <li>Collaborating</li>
          <li>Conflicts</li>
          <li>Using Git from RStudio</li>
        </ul>
      </th>
    </tr>
    <tr>             
      <td>-</td>
      <td>After</td>
      <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      <td>-</td>
    </tr>
  </table>
</div>
