<div class="row">
  <table class="table table-striped">
    <tr>
      <th>Part</th>
      <th>Date</th>
      <th>Lesson</th>
      <th>Topics</th>
    </tr>
    <tr>             
      <td>-</td>
      <td>Before</td>
      <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>2</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>4</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>             
      <td>-</td>
      <td>Before</td>
      <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      <td>-</td>
    </tr>
  </table>
</div>
