<div class="row">
  <table class="table table-striped">
    <tr>
      <th>Part</th>
      <th>Date</th>
      <th>Lesson</th>
      <th>Topics</th>
    </tr>
    <tr>             
      <td>-</td>
      <td>Before</td>
      <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Oct 22</td>
      <td><a href="https://swcarpentry.github.io/r-novice-gapminder/" target="_blank">R for Reproducible Scientific Analysis (1)</a></td>
      <td>
        <ul>
          <li>Introduction to R and RStudio</li>
          <li>Project management with RStudio</li>
          <li>Seeking help</li>
          <li>Data structures</li>
          <li>Exploring data frames</li>
          <li>Subsetting data</li>
          <li>Control flow</li>
          <li>Vectorization</li>
          <li>Functions explained</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Oct 29</td>
      <td><a href="https://swcarpentry.github.io/r-novice-gapminder/" target="_blank">R for Reproducible Scientific Analysis (2)</a></td>
      <td>
        <ul>
          <li>Creating publication-quality graphics with ggplot2</li>
          <li>Data frame manipulation with dplyr</li>
          <li>Data frame manipulation with tidyr</li>
          <li>Writing data</li>
          <li>Producing reports with knitr</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Nov 5</td>
      <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></td>
      <td>
        <ul>
          <li>Introducing the shell</li>
          <li>Navigating files and directories</li>
          <li>Working with files and directories</li>
          <li>Pipes and filters</li>
          <li>Loops</li>
          <li>Shell scripts</li>
          <li>Finding things</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Nov 12</td>
      <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td>
      <td>
        <ul>
          <li>Setting up Git</li>
          <li>Creating a repository</li>
          <li>Tracking changes</li>
          <li>Exploring history</li>
          <li>Ignoring things</li>
          <li>Remotes in GitHub</li>
          <li>Collaborating</li>
          <li>Conflicts</li>
          <li>Using Git from RStudio</li>
        </ul>
      </td>
    </tr>
    <tr>             
      <td>-</td>
      <td>After</td>
      <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      <td>-</td>
    </tr>
  </table>
</div>
